@import url(https://fonts.googleapis.com/css?family=Exo+2:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Righteous:regular);

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  overflow-x: hidden;
}

body{
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;

}

input{
  background-color: #111;
  outline: none;
}

.wrapper{
  max-width: 860px;
  margin: 0 auto;
  padding: 0 40px;

}
